Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

.codecov.yml:

coverage:
  status:
    project: yes
    patch: yes
    changes: yes

comment:
  layout: "reach, tree, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

flags:
  unit-tests:
    paths:
      - "mockito-core/**"
      - "mockito-extensions/**"
  integration-tests:
    paths:
      - "mockito-integration-tests/**"

Comment in other jobs again.
  .github/workflows/ci.yml
Due: none

Only enable tracing agent when JVM vendor is GraalVM.
  mockito-integration-tests/graalvm-tests/build.gradle.kts
Due: integration-tests

Enable Graal tracing agent based on gradle project property.
  .github/workflows/ci.yml
  mockito-integration-tests/graalvm-tests/build.gradle.kts
Due: integration-tests

Remove --stacktrace. Use graalvm/setup-graalvm@v1.3.5.
  .github/workflows/ci.yml
Due: none

Fix metadata generation on GraalVM (#3710)
  .github/workflows/ci.yml
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-integration-tests/graalvm-tests/.gitignore
  mockito-integration-tests/graalvm-tests/build.gradle.kts
  mockito-integration-tests/graalvm-tests/src/test/java/org/mockito/graalvm/DummyObject.java
  mockito-integration-tests/graalvm-tests/src/test/java/org/mockito/graalvm/GraalVMSubclassMockMakerTest.java
  settings.gradle.kts
Due: unit-tests, integration-tests

Use Assume.assumeThat for SequencedCollection tests (#3711)
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

Return completed futures for unstubbed Future/CompletionStage in ReturnsEmptyValues
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValues.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesFutureTest.java
Due: unit-tests

Introducing the Ability to Mock Construction of Generic Types (#2401)
  mockito-core/src/main/java/org/mockito/internal/configuration/MockAnnotationProcessor.java
  mockito-core/src/test/java/org/mockito/internal/configuration/MockAnnotationProcessorTest.java
Due: unit-tests

Add support for generic types in `MockedConstruction` and `MockedStatic` (#3729)
  mockito-core/src/main/java/org/mockito/internal/configuration/MockAnnotationProcessor.java
  mockito-core/src/test/java/org/mockito/internal/configuration/MockAnnotationProcessorTest.java
Due: unit-tests

fix(verbose-logging): avoid duplicate verbose log from verification callbacks (#1803)
  mockito-core/src/main/java/org/mockito/internal/debugging/VerboseMockInvocationLogger.java
  mockito-core/src/test/java/org/mockito/logging/VerboseLoggingTest.java
Due: unit-tests

Add VerboseLoggingTest to verify that verification calls are not logged twice
  subprojects/mockito-core/build.gradle.kts
Due: none

Feat: automatically detect class to mock in mockStatic and mockConstruction
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/test/java/org/mockito/MockitoTest.java
Due: unit-tests

Infer class to mock in mockStatic and mockConstruction (#3731)
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/test/java/org/mockito/MockitoTest.java
Due: unit-tests

fix: spotlessApply
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValues.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesFutureTest.java
Due: unit-tests

test: merge ReturnsEmptyValuesFutureTest into ReturnsEmptyValuesTest
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesFutureTest.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

Return completed futures for unstubbed Future/CompletionStage in ReturnsEmptyValues (#3727)
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValues.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

Fixes 3231: align with latest in house version
  subprojects/junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoLightweightExtension.java
Due: none

build: use javac --release via toolchains for consistent targeting (Fixes #3728)
  buildSrc/src/main/kotlin/mockito.java-conventions.gradle.kts
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
  tools/verify-java-release.ps1
Due: unit-tests

fix: parameterize MockCreationListener to use MockCreationSettings<T> (Fixes #3700)
  buildSrc/src/main/kotlin/mockito.java-conventions.gradle.kts
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

fix(do-not-mock): include custom DoNotMock annotation details in violation message
  mockito-core/src/main/java/org/mockito/internal/configuration/DefaultDoNotMockEnforcer.java
  mockito-core/src/main/java/org/mockito/listeners/RawTypeWarningTest.java
  mockito-core/src/test/java/org/example/org/mockito/DoNotMock.java
  mockito-core/src/test/java/org/mockito/internal/configuration/DefaultDoNotMockEnforcerCustomAnnotationTest.java
Due: unit-tests

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix(core): skip invocation listeners during verification to avoid duplicate verbose logs (fixes #3739)
  mockito-core/src/main/java/org/mockito/internal/debugging/VerboseMockInvocationLogger.java
  mockito-core/src/main/java/org/mockito/internal/handler/InvocationNotifierHandler.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgressImpl.java
  mockito-core/src/main/java/org/mockito/internal/verification/MockAwareVerificationMode.java
  mockito-core/src/main/java/org/mockito/internal/verification/VerificationPhase.java
  mockito-core/src/test/java/org/mockito/internal/debugging/VerboseLoggingNoDupOnVerifyTest.java
Due: unit-tests

modify for issue
  mockito-core/src/main/java/org/mockito/MockSettingsImpl.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ConstructionCallback.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodAdvice.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockMethodInterceptor.java
Due: unit-tests

Support primitives in GenericArrayReturnType.
  mockito-core/src/main/java/org/mockito/internal/util/Primitives.java
  mockito-core/src/main/java/org/mockito/internal/util/reflection/GenericMetadataSupport.java
Due: unit-tests

Add integration test
  mockito-integration-tests/android-tests/src/androidTest/java/org/mockitousage/androidtest/BasicInstrumentedTests.kt
  mockito-integration-tests/android-tests/src/main/java/org/mockitousage/androidtest/BasicClassesForTesting.kt
Due: integration-tests

Fix primitives support in GenericArrayReturnType for Android (#3753)
  mockito-core/src/main/java/org/mockito/internal/util/Primitives.java
  mockito-core/src/main/java/org/mockito/internal/util/reflection/GenericMetadataSupport.java
  mockito-integration-tests/android-tests/src/androidTest/java/org/mockitousage/androidtest/BasicInstrumentedTests.kt
  mockito-integration-tests/android-tests/src/main/java/org/mockitousage/androidtest/BasicClassesForTesting.kt
Due: unit-tests, integration-tests

Forbid mocking WeakReference with inline mock maker
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
Due: unit-tests

Forbid mocking WeakReference with inline mock maker (#3759)
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
Due: unit-tests

Adds output of matchers to potential mismatch; Fixes #2468
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
  mockito-core/src/main/java/org/mockito/internal/junit/DefaultStubbingLookupListener.java
  mockito-core/src/test/java/org/mockitousage/junitrule/StrictJUnitRuleTest.java
Due: unit-tests

add argThat test
  mockito-core/src/test/java/org/mockitousage/junitrule/StrictJUnitRuleTest.java
  mockito-core/src/test/java/org/mockitousage/strictness/ProductionCode.java
Due: unit-tests

Add description of matchers to potential mismatch (#3760)
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
  mockito-core/src/main/java/org/mockito/internal/junit/DefaultStubbingLookupListener.java
  mockito-core/src/test/java/org/mockitousage/junitrule/StrictJUnitRuleTest.java
  mockito-core/src/test/java/org/mockitousage/strictness/ProductionCode.java
Due: unit-tests

Fix typos in some files
  mockito-core/src/main/java/org/mockito/internal/creation/instance/ConstructorInstantiator.java
Due: unit-tests

Add core API to enable Kotlin singleton mocking
  mockito-core/src/main/java/org/mockito/MockSettings.java
  mockito-core/src/main/java/org/mockito/StaticMockSettings.java
  mockito-core/src/main/java/org/mockito/internal/creation/MockSettingsImpl.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodAdvice.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/StaticMockUtils.java
  mockito-core/src/main/java/org/mockito/internal/creation/settings/CreationSettings.java
  mockito-core/src/main/java/org/mockito/internal/framework/DisabledMockHandler.java
  mockito-core/src/main/java/org/mockito/mock/MockCreationSettings.java
  mockito-core/src/test/java/org/mockito/StaticMockingExperimentTest.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/StaticMockTest.java
Due: unit-tests, integration-tests

Add tests for Sets utility class
  mockito-core/src/test/java/org/mockito/internal/util/collections/SetsTest.java
Due: unit-tests

docs: clarify RETURNS_MOCKS behavior with sealed abstract enums (Java 15+)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Improve comments in SetsTest
  mockito-core/src/test/java/org/mockito/internal/util/collections/SetsTest.java
Due: unit-tests

Add tests for Sets utility class (#3771)
  mockito-core/src/test/java/org/mockito/internal/util/collections/SetsTest.java
Due: unit-tests

Clarify `RETURNS_MOCKS` behavior with sealed abstract enums (Java 15+) (#3773)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Update ErrorProne to 2.45.0
  gradle/libs.versions.toml
Due: none

chore: add jspecify with minimal change. Fixes #3503
  gradle/libs.versions.toml
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/MockitoCore.java
  mockito-core/src/main/java/org/mockito/stubbing/OngoingStubbing.java
Due: unit-tests
