Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Fix task ordering issue with Gradle
  gradle/coverage.gradle
Due: none

Update to Gradle 8.14.2
  gradle/wrapper/gradle-wrapper.properties
Due: none

Revert Gradle fixes
  gradle/coverage.gradle
Due: none

Add mockito-core sourceset to android test coverage collection
  mockito-integration-tests/android-tests/build.gradle.kts
Due: integration-tests

Correct Junit docs link
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

Correct Junit docs link (#3672)
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

Update Gradle to 8.14.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Fix ErrorProne false positives
  mockito-core/src/test/java/org/mockito/internal/util/collections/HashCodeAndEqualsSafeSetTest.java
  mockito-core/src/test/java/org/mockitousage/basicapi/ReplacingObjectMethodsTest.java
Due: unit-tests

Run `:mockito-errorprone` tests on minimum version 17
  buildSrc/src/main/kotlin/mockito.test-launcher-conventions.gradle.kts
Due: none

Update Gradle to 8.14.2 (#3676)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Let Kotlin Gradle plugin use the same version
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

Remove Kotlin test
  mockito-integration-tests/kotlin-tests/src/test/kotlin/org/mockito/kotlin/FunctionTest.kt
Due: integration-tests

Update URLs for publishing
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
Due: none

Only run release after both Java and Android tests have finished
  .github/workflows/ci.yml
Due: none

Only run release after both Java and Android tests have finished (#3681)
  .github/workflows/ci.yml
Due: none

Remove unused tests
  mockito-core/src/test/java/org/mockitousage/bugs/MockitoRunnerBreaksWhenNoTestMethodsTest.java
  mockito-core/src/test/java/org/mockitousage/spies/PartialMockingWithSpiesTest.java
Due: unit-tests

Separate class file transformer from mocker.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineClassFileTransformer.java
Due: unit-tests

Extend draft to allow for marking.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineClassFileTransformer.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineMockMarker.java
Due: unit-tests

Refine branch.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineClassFileTransformer.java
Due: unit-tests

Refine branch.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineClassFileTransformer.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Refine branch.
  mockito-core/src/main/java/org/mockito/internal/util/reflection/InstrumentationMemberAccessor.java
Due: unit-tests

Test: reproduce issue with mocking generic array return type (S[])
  mockito-core/src/test/java/org/mockito/bugs/GenericArrayMockingTest.java
Due: unit-tests

Raw type used on MockCreationListener changed to generic type
  mockito-core/src/main/java/org/mockito/internal/junit/MismatchReportingTestListener.java
  mockito-core/src/main/java/org/mockito/internal/junit/MockitoTestListener.java
  mockito-core/src/main/java/org/mockito/internal/junit/NoOpTestListener.java
  mockito-core/src/main/java/org/mockito/internal/junit/StrictStubsRunnerTestListener.java
  mockito-core/src/main/java/org/mockito/internal/junit/UniversalTestListener.java
  mockito-core/src/main/java/org/mockito/internal/junit/UnnecessaryStubbingsReporter.java
  mockito-core/src/main/java/org/mockito/listeners/MockCreationListener.java
Due: unit-tests

Fix: avoid generic resolution in isVoid(); use Method#getReturnType() to prevent crash on generic arrays (S[])
  mockito-core/src/main/java/org/mockito/internal/stubbing/answers/InvocationInfo.java
Due: unit-tests

build: Allow overriding 'Created-By' for reproducible builds
  buildSrc/src/main/kotlin/mockito.java-library-conventions.gradle.kts
Due: none

Allow overriding 'Created-By' for reproducible builds (#3704)
  buildSrc/src/main/kotlin/mockito.java-library-conventions.gradle.kts
Due: none

feat: Add support for JDK21 Sequenced Collections.
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValues.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

Add support for JDK21 Sequenced Collections. (#3708)
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValues.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

test: tidy repro for generic array return (S[]) using JUnit4
  mockito-core/src/test/java/org/mockito/bugs/GenericArrayMockingTest.java
Due: unit-tests

Fix: allow mocking methods with generic array return types (S[])
  GenericArrayMockingTest.java
Due: none

Refactor the test for JDK 21's Sequenced Collections to use the standard `Assume.assumeThat` utility for conditional execution.
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

Improve consistency of conditional tests per review
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValuesTest.java
Due: unit-tests

Add GraalVM nativeTest test suite.
  mockito-integration-tests/graalvm-tests/.gitignore
  mockito-integration-tests/graalvm-tests/build.gradle.kts
  mockito-integration-tests/graalvm-tests/src/test/java/org/mockito/graalvm/DummyObject.java
  mockito-integration-tests/graalvm-tests/src/test/java/org/mockito/graalvm/GraalVMSubclassMockMakerTest.java
  settings.gradle.kts
Due: integration-tests

Remove processValue unused method.
  mockito-integration-tests/graalvm-tests/src/test/java/org/mockito/graalvm/DummyObject.java
Due: integration-tests

Test graalvm native CI workflow.
  .github/workflows/ci.yml
Due: none

Uncomment release job.
  .github/workflows/ci.yml
Due: none

Test GRM data is generated.
  .github/workflows/ci.yml
Due: none

Add assertion that reflect-config.json should contain DummyObject mockito mock reference.
  .github/workflows/ci.yml
Due: none

Path conditions:
  unit-tests: any of: mockito-core/**, mockito-extensions/**
  integration-tests: any of: mockito-integration-tests/**
