Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Use interface type for invoking method to avoid that module boundaries are breached when using reflection on internal implementation type.
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
Due: unit-tests

Refine reflection when calling management factory (#3566)
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
Due: unit-tests

Adds --info to diagnose closeAndReleaseStagingRepositories issues
  .github/workflows/ci.yml
Due: none

Tweaks documentation on mockito agent config for maven
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Add `--info` to diagnose release issues (#3567)
  .github/workflows/ci.yml
Due: none

Tweak documentation on mockito agent config for maven (#3568)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Workaround for spotless 7.0.0 bug
  buildSrc/src/main/kotlin/mockito.quality-spotless-conventions.gradle.kts
Due: none

Issue #3584 Improve Gradle Kotlin documentation to add agent
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

API for MockSettings for Spies
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/test/java/org/mockito/MockitoTest.java
Due: unit-tests

Fixes #3586 : Add since annotation
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Feat: #18 improve EqualsBuilder.append coverage
  mockito-core/src/test/java/org/mockito/internal/matchers/apachecommons/EqualsBuilderTest.java
Due: unit-tests

Fixes #2807: enhance constructor injection
  mockito-core/src/main/java/org/mockito/internal/configuration/DefaultInjectionEngine.java
  mockito-core/src/main/java/org/mockito/internal/configuration/InjectingAnnotationEngine.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/ConstructorInjection.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/MockInjection.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/MockInjectionStrategy.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/PropertyAndSetterInjection.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/SpyOnInjectedFieldsHandler.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/scanner/MockScanner.java
  mockito-core/src/main/java/org/mockito/internal/util/collections/HashCodeAndEqualsSafeMap.java
  mockito-core/src/main/java/org/mockito/internal/util/reflection/FieldInitializer.java
  mockito-core/src/test/java/org/mockito/internal/configuration/MockInjectionTest.java
  mockito-core/src/test/java/org/mockito/internal/configuration/injection/ConstructorInjectionTest.java
  mockito-core/src/test/java/org/mockito/internal/configuration/injection/SimpleArgumentResolverTest.java
  mockito-core/src/test/java/org/mockito/internal/util/reflection/FieldInitializerTest.java
  mockito-core/src/test/java/org/mockito/internal/util/reflection/ParameterizedConstructorInstantiatorTest.java
Due: unit-tests

Add module-info and import injected module.
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

test fix
  src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: none

copy patch
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

remove module test
  subprojects/module-test/module-test.gradle
Due: none

test: won't compile without hamcrest
  mockito-integration-tests/module-tests/build.gradle.kts
Due: integration-tests

test stop excluding files
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
Due: none

Avoid error during javadoc generation.
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/DefaultMockitoPlugins.java
Due: unit-tests

Add junit static reference.
  mockito-core/src/main/java/module-info.java
Due: unit-tests

Add module read adjustment for plugin initializer.
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/PluginInitializer.java
Due: unit-tests

Clean up formatting.
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Complete module system integration.
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/PluginInitializer.java
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
  mockito-extensions/mockito-junit-jupiter/src/main/java/module-info.java
  mockito-extensions/mockito-proxy/src/main/java/module-info.java
  mockito-extensions/mockito-subclass/src/main/java/module-info.java
Due: unit-tests

Remove module-info from code-empty jars as they will unlikely need to be declared as modules.
  mockito-extensions/mockito-proxy/src/main/java/module-info.java
  mockito-extensions/mockito-subclass/src/main/java/module-info.java
Due: unit-tests

Add test module.
  mockito-integration-tests/module-named-tests/build.gradle.kts
  mockito-integration-tests/module-named-tests/src/test/java/module-info.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
  settings.gradle.kts
Due: integration-tests

Fix jar resolution.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Improve error message.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Remove package-info.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/inject/package-info.java
Due: unit-tests

Add comment for transfer.
  mockito-core/build.gradle.kts
Due: unit-tests

Adjust build to transform module info.
  mockito-core/build.gradle.kts
Due: unit-tests

Add transformation for module-info.
  mockito-core/build.gradle.kts
Due: unit-tests

Attempt compatible renaming.
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
Due: unit-tests

Adjust build and test.
  mockito-core/build.gradle.kts
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
Due: unit-tests

Adjust OSGi to avoid artificial package.
  mockito-core/build.gradle.kts
Due: unit-tests

Fix export for internal dispatcher implementation.
  mockito-core/src/main/java/org/mockito/internal/util/reflection/InstrumentationMemberAccessor.java
Due: unit-tests

Unseal loader prior to injection.
  mockito-core/src/main/java/org/mockito/internal/util/reflection/InstrumentationMemberAccessor.java
Due: unit-tests

Read jdk.unsupported to allow use of internal API if requested.
  mockito-core/src/main/java/module-info.java
Due: unit-tests

Remove comment.
  mockito-core/src/main/java/org/mockito/internal/util/reflection/InstrumentationMemberAccessor.java
Due: unit-tests

Fix javadoc task.
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/DefaultMockitoPlugins.java
  mockito-extensions/mockito-junit-jupiter/src/main/java/module-info.java
Due: unit-tests

Path conditions:
  unit-tests: any of: mockito-core/**, mockito-extensions/**
  integration-tests: any of: mockito-integration-tests/**
