Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Add reads for target module.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
Due: unit-tests, integration-tests

Remove unused methods.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
Due: unit-tests

Fix module reading.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Rework of injection strategy in the context of modules (#3608)
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyCrossClassLoaderSerializationSupport.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodAdvice.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassInjectionLoader.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassLoader.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockAccess.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockMethodInterceptor.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/package-info.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/codegen/InjectionBase.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/codegen/package-info.java
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsSmartNulls.java
  mockito-core/src/test/java/org/mockitousage/serialization/AcrossClassLoaderSerializationTest.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidLoadingStrategy.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
  mockito-integration-tests/module-tests/src/test/java/org/mockito/moduletest/ModuleHandlingTest.java
Due: unit-tests, integration-tests

Add missing requirement to objenesis.
  mockito-core/src/main/java/module-info.java
Due: unit-tests

Fixes #3615 : broken links to javadoc.io
  README.md
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
  mockito-core/src/main/java/org/mockito/junit/MockitoJUnit.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidByteBuddyMockMaker.java
Due: unit-tests

Update links to javadoc.io (#3616)
  README.md
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
  mockito-core/src/main/java/org/mockito/junit/MockitoJUnit.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidByteBuddyMockMaker.java
Due: unit-tests

Fixes #3171: Fall back to Throwable Location strategy on Android
  mockito-core/src/main/java/org/mockito/internal/debugging/LocationFactory.java
  mockito-core/src/main/java/org/mockito/internal/util/AndroidPlatform.java
  mockito-integration-tests/android-tests/src/androidTest/java/org/mockitousage/androidtest/AaaMustRunFirstLocationTests.kt
Due: unit-tests, integration-tests

Updated Readme.md
  README.md
Due: none

Fixes #3622: MockitoExtension fails cleanup when aborted before setup
  mockito-extensions/mockito-junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoExtension.java
  mockito-extensions/mockito-junit-jupiter/src/test/java/org/mockitousage/JunitJupiterSkippedTest.java
Due: unit-tests

MockitoExtension fails cleanup when aborted before setup (#3623)
  mockito-extensions/mockito-junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoExtension.java
  mockito-extensions/mockito-junit-jupiter/src/test/java/org/mockitousage/JunitJupiterSkippedTest.java
Due: unit-tests

Refactor: Extracted long statement in testPositiveCases into getPositiveTestSource() for readability
  mockito-extensions/mockito-errorprone/src/test/java/org/mockito/errorprone/bugpatterns/MockitoAnyIncorrectPrimitiveTypeTest.java
Due: unit-tests

Fix ClassCastException in ArgumentMatchingTool by safely checking instanceof ContainsExtraTypeInfo
  mockito-core/src/main/java/org/mockito/internal/verification/argumentmatching/ArgumentMatchingTool.java
Due: unit-tests

Refactor: Extract SmartTypeFormatter from SmartPrinter to reduce class responsibility
  mockito-core/src/main/java/org/mockito/internal/reporting/SmartPrinter.java
  mockito-core/src/main/java/org/mockito/internal/reporting/SmartTypeFormatter.java
Due: unit-tests

Refactored Platform.warnForVM to use Strategy Pattern for VM warnings
  mockito-core/src/main/java/org/mockito/internal/util/Platform.java
  mockito-core/src/main/java/org/mockito/internal/util/VMNameContainsStrategy.java
  mockito-core/src/main/java/org/mockito/internal/util/VMWarningStrategy.java
  mockito-core/src/test/java/org/mockito/internal/util/PlatformTest.java
Due: unit-tests

Fall back to Throwable Location strategy on Android (#3619)
  mockito-core/src/main/java/org/mockito/internal/debugging/LocationFactory.java
  mockito-core/src/main/java/org/mockito/internal/util/AndroidPlatform.java
  mockito-integration-tests/android-tests/src/androidTest/java/org/mockitousage/androidtest/AaaMustRunFirstLocationTests.kt
Due: unit-tests, integration-tests

Clarify structure of commit messages
  .github/CONTRIBUTING.md
Due: none

Update pul request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Clarify structure of commit messages (#3626)
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Refactor: Improve test and design quality
  mockito-core/src/main/java/org/mockito/internal/debugging/LocationFactory.java
  mockito-core/src/main/java/org/mockito/internal/reporting/SmartPrinter.java
  mockito-core/src/main/java/org/mockito/internal/reporting/SmartTypeFormatter.java
  mockito-core/src/main/java/org/mockito/internal/util/Platform.java
  mockito-core/src/main/java/org/mockito/internal/util/VMNameContainsStrategy.java
  mockito-core/src/main/java/org/mockito/internal/util/VMWarningStrategy.java
  mockito-core/src/main/java/org/mockito/internal/verification/argumentmatching/ArgumentMatchingTool.java
  mockito-core/src/test/java/org/mockito/internal/util/PlatformTest.java
  mockito-extensions/mockito-errorprone/src/test/java/org/mockito/errorprone/bugpatterns/MockitoAnyIncorrectPrimitiveTypeTest.java
Due: unit-tests

Refactor: Improve test and design quality
  mockito-core/src/main/java/org/mockito/internal/reporting/SmartPrinter.java
  mockito-core/src/main/java/org/mockito/internal/reporting/SmartTypeFormatter.java
  mockito-core/src/main/java/org/mockito/internal/util/Platform.java
  mockito-core/src/main/java/org/mockito/internal/util/VMNameContainsStrategy.java
  mockito-core/src/main/java/org/mockito/internal/util/VMWarningStrategy.java
  mockito-core/src/main/java/org/mockito/internal/verification/argumentmatching/ArgumentMatchingTool.java
  mockito-core/src/test/java/org/mockito/internal/util/PlatformTest.java
Due: unit-tests

update-message-with-mockito-inline
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
Due: unit-tests

Fixes #3631: Fix broken banner image link
  README.md
Due: none

Fix broken banner image link (#3632)
  README.md
Due: none

Update test
  mockito-core/src/test/java/org/mockito/MockitoTest.java
Due: unit-tests

Fix typo
  mockito-core/src/test/java/org/mockito/MockitoTest.java
Due: unit-tests

Remove mention of `mockito-inline` from mockmaker exception (#3628)
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
  mockito-core/src/test/java/org/mockito/MockitoTest.java
Due: unit-tests

For UnfinishedStubbingException, suggest the possibility of another thread.
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
Due: unit-tests

Add hint for multithreading in `UnfinishedStubbingException` (#3636)
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
Due: unit-tests

Update Jacoco version to 0.8.13
  gradle/coverage.gradle
Due: none

Make vararg checks Scala friendly (for mockito-scala)
  mockito-core/src/main/java/org/mockito/internal/invocation/MatcherApplicationStrategy.java
Due: unit-tests

Replace stream.anyMatch with map + orElse(false) for android compatibility
  mockito-core/src/main/java/org/mockito/internal/invocation/MatcherApplicationStrategy.java
Due: unit-tests

add unit tests
  mockito-core/src/main/java/org/mockito/internal/invocation/MatcherApplicationStrategy.java
  mockito-core/src/test/java/org/mockito/internal/invocation/MatcherApplicationStrategyTest.java
Due: unit-tests

avoid mocking final Method for `shouldDetectScalaVarargsProperly` test
  mockito-core/src/test/java/org/mockito/internal/invocation/MatcherApplicationStrategyTest.java
Due: unit-tests

Make vararg checks Scala friendly (#3651)
  mockito-core/src/main/java/org/mockito/internal/invocation/MatcherApplicationStrategy.java
  mockito-core/src/test/java/org/mockito/internal/invocation/MatcherApplicationStrategyTest.java
Due: unit-tests

Force Jacoco version for Android
  gradle/coverage.gradle
  gradle/libs.versions.toml
  mockito-integration-tests/android-tests/build.gradle.kts
Due: integration-tests

Update Gradle to 8.14
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Remove workaround for coverage calculation of Mockito core source code
  mockito-integration-tests/android-tests/build.gradle.kts
Due: integration-tests

Path conditions:
  unit-tests: any of: mockito-core/**, mockito-extensions/**
  integration-tests: any of: mockito-integration-tests/**
