Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

.codecov.yml:

coverage:
  status:
    project: yes
    patch: yes
    changes: yes

comment:
  layout: "reach, tree, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

flags:
  unit-tests:
    paths:
      - "mockito-core/**"
      - "mockito-extensions/**"
  integration-tests:
    paths:
      - "mockito-integration-tests/**"

Moves check to TypeSupport
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/TypeSupport.java
Due: unit-tests

Makes license a convention plugin
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/mockito.library-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.license-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.test-conventions.gradle.kts
  gradle/libs.versions.toml
  gradle/license.gradle
Due: none

Revisits class generation with task class
  build.gradle.kts
  gradle/libs.versions.toml
  mockito-core/build.gradle.kts
Due: unit-tests

Makes shipkit / nexusPublish a convention plugin for root
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
  gradle/libs.versions.toml
  gradle/shipkit.gradle
Due: none

Improve error message and give suggestion on how to resolve problem when mocking a sealed interface or abstract class.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Friendly report for abstract sealed classes
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
  mockito-core/src/test/java/org/mockitousage/misuse/InvalidUsageTest.java
  mockito-integration-tests/java-21-tests/src/test/java/org/mockito/sealed/SealedClassUnsupportedTest.java
Due: unit-tests, integration-tests

Adds mock maker name to the non mockable report
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/ProxyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
  mockito-core/src/main/java/org/mockito/internal/util/MockCreationValidator.java
  mockito-core/src/main/java/org/mockito/internal/util/MockUtil.java
  mockito-core/src/main/java/org/mockito/internal/util/reflection/FieldInitializer.java
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
  mockito-core/src/test/java/org/mockito/internal/util/MockCreationValidatorTest.java
  mockito-core/src/test/java/org/mockito/internal/util/MockUtilTest.java
Due: unit-tests

Report mock maker in more cases
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassInjectionLoader.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/InvokeDefaultProxy.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/ProxyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/util/MockitoInformation.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/TypeCachingMockBytecodeGeneratorTest.java
  mockito-core/src/test/java/org/mockito/internal/util/MockitoInformationTest.java
  mockito-core/src/test/java/org/mockitousage/misuse/InvalidUsageTest.java
  mockito-extensions/mockito-proxy/src/test/java/org/mockitoproxy/MocksTest.java
Due: unit-tests

Triggers generation after idea sync
  build.gradle.kts
  gradle/libs.versions.toml
  mockito-core/build.gradle.kts
Due: unit-tests

Adds mockito version to error reports
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/org/mockito/internal/util/MockitoInformation.java
  mockito-core/src/test/java/org/mockito/internal/util/MockitoInformationTest.java
Due: unit-tests

Revisits fix #3167 that was fixing #2984
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsDeepStubs.java
  mockito-integration-tests/java-21-tests/src/test/java/org/mockito/internal/stubbing/answers/DeepStubReturnsEnum_Java17_issue_2984_Test.java
Due: unit-tests, integration-tests

Revisits #3534 and fix #3167 that was fixing #2984
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/TypeSupport.java
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsDeepStubs.java
  mockito-integration-tests/java-21-tests/src/test/java/org/mockito/internal/stubbing/answers/DeepStubReturnsEnum_Java17_issue_2984_Test.java
  mockito-integration-tests/java-21-tests/src/test/java/org/mockito/sealed/SealedClassUnsupportedTest.java
Due: unit-tests, integration-tests

Convert license configuration to convention plugin (#3532)
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/mockito.library-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.license-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.test-conventions.gradle.kts
  gradle/libs.versions.toml
  gradle/license.gradle
Due: none

Reduce outputs for successful retries
  buildSrc/src/main/kotlin/mockito.test-retry-conventions.gradle.kts
Due: none

no deamon
  .github/workflows/ci.yml
Due: none

Avoid hard dependency on management factory as class might not be available due to use of modules, or when running on Android.
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
Due: unit-tests

Add test for using enale dynamic agent loading.
  mockito-integration-tests/java-21-tests/build.gradle.kts
Due: integration-tests

don't retry test
  buildSrc/src/main/kotlin/mockito.java-library-conventions.gradle.kts
Due: none

Avoid warning when dynamic attach is enabled with JVM flag (#3551)
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
  mockito-integration-tests/java-21-tests/build.gradle.kts
Due: unit-tests, integration-tests

Extract some vars convention plugin
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
Due: none

Bump nexus publish to 2.0.0
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
  gradle/libs.versions.toml
Due: none

Introduce release convention plugin for Shipkit integration (#3533)
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
  gradle/libs.versions.toml
  gradle/shipkit.gradle
Due: none

Register local repo folder to clean task
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
Due: none

Fixes: Broken ./gradlew tasks
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
Due: none

Fixes #3542: Javadoc misconfigured destination dir
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
Due: none

Skip test-fixtures publication
  mockito-core/build.gradle.kts
Due: unit-tests

Fixes #3542: Always publish javadoc artifact for published modules
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
Due: none

Fixes: typo in ci.yaml
  .github/workflows/ci.yml
Due: none

Exclude internal packages
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
Due: none

Fix javadoc publication (#3561)
  .github/workflows/ci.yml
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
  mockito-core/build.gradle.kts
Due: unit-tests

Add extendsFrom testImplementation to Gradle's mockitoAgent configuration. Without this, I encountered a build error.
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests
