Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Adds header, footer, uncovered
  .codecov.yml
Due: none

Refactor mockito-core to export proper test fixture
  mockito-core/build.gradle.kts
  mockito-core/src/testFixtures/java/org/mockito/StateMaster.java
  mockito-core/src/testFixtures/java/org/mockito/configuration/MockitoConfiguration.java
  mockito-core/src/testFixtures/java/org/mockito/internal/configuration/ConfigurationAccess.java
  mockito-core/src/testFixtures/java/org/mockito/internal/invocation/InvocationBuilder.java
  mockito-core/src/testFixtures/java/org/mockitousage/IMethods.java
  mockito-core/src/testFixtures/java/org/mockitousage/MethodsImpl.java
  mockito-core/src/testFixtures/java/org/mockitoutil/ClassLoaders.java
  mockito-core/src/testFixtures/java/org/mockitoutil/ClassLoadersTest.java
  mockito-core/src/testFixtures/java/org/mockitoutil/ConcurrentTesting.java
  mockito-core/src/testFixtures/java/org/mockitoutil/Conditions.java
  mockito-core/src/testFixtures/java/org/mockitoutil/JUnitResultAssert.java
  mockito-core/src/testFixtures/java/org/mockitoutil/SafeJUnitRule.java
  mockito-core/src/testFixtures/java/org/mockitoutil/SafeJUnitRuleTest.java
  mockito-core/src/testFixtures/java/org/mockitoutil/SimpleClassGenerator.java
  mockito-core/src/testFixtures/java/org/mockitoutil/SimplePerRealmReloadingClassLoader.java
  mockito-core/src/testFixtures/java/org/mockitoutil/SimpleSerializationUtil.java
  mockito-core/src/testFixtures/java/org/mockitoutil/Stopwatch.java
  mockito-core/src/testFixtures/java/org/mockitoutil/TestBase.java
  mockito-core/src/testFixtures/java/org/mockitoutil/TestBaseTest.java
  mockito-core/src/testFixtures/java/org/mockitoutil/ThrowableAssert.java
  mockito-core/src/testFixtures/java/org/mockitoutil/VmArgAssumptions.java
  mockito-core/src/testFixtures/java/org/mockitoutil/async/AsyncTesting.java
  mockito-core/src/testFixtures/java/org/mockitoutil/async/AsyncTestingTest.java
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/java-21-tests/build.gradle.kts
Due: unit-tests, integration-tests

Fixes mockito-core checkstyleTest hidden dependency on removeTestResources
  mockito-core/build.gradle.kts
Due: unit-tests

Add new bnd version links on mockito-core config
  mockito-core/build.gradle.kts
Due: unit-tests

Mockito-core: proper fix for hidden dependency on removeTestResources using dedicated sourceSet
  mockito-core/build.gradle.kts
Due: unit-tests

Mockito-core: proper fix for hidden dependency on removeTestResources using test output builtBy
  mockito-core/build.gradle.kts
Due: unit-tests

Handle JVM internal error when mocking class triggers `NoClassDefFoundError` (#3499)
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/test/java/org/mockitousage/bugs/creation/MockClassWithMissingStaticDepTest.java
Due: unit-tests

Fixes #3445: Convert mockito-core
  mockito-core/build.gradle
  mockito-core/build.gradle.kts
Due: unit-tests

Fixes #3445: Convert mockito-extensions:mockito-errorprone
  buildSrc/src/main/kotlin/TaskExtensions.kt
  mockito-extensions/mockito-errorprone/build.gradle
  mockito-extensions/mockito-errorprone/build.gradle.kts
Due: unit-tests

Fixes #3445: Convert mockito-extensions:mockito-subclass
  mockito-extensions/mockito-subclass/build.gradle
  mockito-extensions/mockito-subclass/build.gradle.kts
Due: unit-tests

Fixes #3445: Moves simple integration tests build scripts to kotlin
  mockito-integration-tests/extensions-tests/build.gradle
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/groovy-inline-tests/build.gradle.kts
  mockito-integration-tests/groovy-tests/build.gradle.kts
  mockito-integration-tests/inline-mocks-tests/build.gradle
  mockito-integration-tests/inline-mocks-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-extension-tests/build.gradle
  mockito-integration-tests/junit-jupiter-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-inline-mock-maker-extension-tests/build.gradle
  mockito-integration-tests/junit-jupiter-inline-mock-maker-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-parallel-tests/build.gradle
  mockito-integration-tests/junit-jupiter-parallel-tests/build.gradle.kts
  mockito-integration-tests/kotlin-release-coroutines-tests/build.gradle
  mockito-integration-tests/kotlin-release-coroutines-tests/build.gradle.kts
  mockito-integration-tests/kotlin-tests/build.gradle
  mockito-integration-tests/kotlin-tests/build.gradle.kts
  mockito-integration-tests/memory-tests/build.gradle
  mockito-integration-tests/memory-tests/build.gradle.kts
  mockito-integration-tests/module-tests/build.gradle.kts
  mockito-integration-tests/programmatic-tests/build.gradle
  mockito-integration-tests/programmatic-tests/build.gradle.kts
Due: integration-tests

Fixes #3445: Document and cleanup bnd instructions
  mockito-core/build.gradle.kts
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

Fixes #3445: Migrate osgi tests to Kotlin DSL
  mockito-integration-tests/osgi-tests/build.gradle
  mockito-integration-tests/osgi-tests/build.gradle.kts
  mockito-integration-tests/osgi-tests/osgi-test-bundles.gradle
Due: integration-tests

Fixes #3445: Convert mockito-extensions:mockito-proxy
  mockito-extensions/mockito-proxy/build.gradle.kts
Due: unit-tests

Fixes #3445: Moves java21 integration tests build scripts to kotlin
  mockito-integration-tests/java-21-tests/build.gradle
  mockito-integration-tests/java-21-tests/build.gradle.kts
Due: integration-tests

Fixes #3445: Convert mockito-bom
  mockito-bom/build.gradle.kts
Due: none

Fixes #3445: Convert mockito-extensions:mockito-junit-jupiter
  mockito-extensions/mockito-junit-jupiter/build.gradle
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

Fixes #3445: Consolidate mockito-core testing config in core build script
  mockito-core/build.gradle.kts
  mockito-core/testing.gradle
Due: unit-tests

Fixes #3445: Consolidate mockito-core inline script to core build script
  mockito-core/build.gradle.kts
  mockito-core/inline-mock.gradle
Due: unit-tests

Use providers to read environment variables
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
  buildSrc/src/main/kotlin/mockito.test-conventions.gradle.kts
  settings.gradle.kts
Due: none

Fixes #3445: Convert mockito-extensions:mockito-android
  mockito-extensions/mockito-android/build.gradle.kts
Due: unit-tests

Exception type changed and error message updated
  mockito-core/src/main/java/org/mockito/internal/stubbing/InvocationContainerImpl.java
Due: unit-tests

spotless formatting applied
  mockito-core/src/test/java/org/mockito/internal/stubbing/InvocationContainerImplTest.java
Due: unit-tests

Changed NPE to mockito exception
  mockito-core/src/test/java/org/mockito/internal/stubbing/InvocationContainerImplTest.java
Due: unit-tests

fixes #3519: adds a Gradle groovy dsl example
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Add Gradle Groovy dsl example for javaagent configuration (#3529)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Amend grammar in warning for Java 21 implicit agent attachment
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
Due: unit-tests

Adds mock maker name to the non mockable report
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/ProxyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
  mockito-core/src/main/java/org/mockito/internal/util/MockCreationValidator.java
  mockito-core/src/main/java/org/mockito/internal/util/MockUtil.java
  mockito-core/src/main/java/org/mockito/internal/util/reflection/FieldInitializer.java
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
  mockito-core/src/test/java/org/mockito/internal/util/MockCreationValidatorTest.java
  mockito-core/src/test/java/org/mockito/internal/util/MockUtilTest.java
Due: unit-tests

Friendly report for abstract sealed classes
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
  mockito-core/src/test/java/org/mockitousage/misuse/InvalidUsageTest.java
  mockito-integration-tests/java-21-tests/src/test/java/org/mockito/sealed/SealedClassUnsupportedTest.java
Due: unit-tests, integration-tests

Throw clear exception to avoid NullPointerException when handling answers (#3506)
  mockito-core/src/main/java/org/mockito/internal/stubbing/InvocationContainerImpl.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/InvocationContainerImplTest.java
Due: unit-tests

Report mock maker in more cases
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassInjectionLoader.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/InvokeDefaultProxy.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/ProxyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/util/MockitoInformation.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/TypeCachingMockBytecodeGeneratorTest.java
  mockito-core/src/test/java/org/mockito/internal/util/MockitoInformationTest.java
  mockito-extensions/mockito-proxy/src/test/java/org/mockitoproxy/MocksTest.java
Due: unit-tests

Adds mockito version to error reports
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/org/mockito/internal/util/MockitoInformation.java
  mockito-core/src/test/java/org/mockito/internal/util/MockitoInformationTest.java
Due: unit-tests

Triggers generation after idea sync
  build.gradle.kts
  gradle/libs.versions.toml
  mockito-core/build.gradle.kts
Due: unit-tests

Revisits fix #3167 that was fixing #2984
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsDeepStubs.java
  mockito-integration-tests/java-21-tests/src/test/java/org/mockito/internal/stubbing/answers/DeepStubReturnsEnumJava17_issue_2984_Test.java
Due: unit-tests, integration-tests

Path conditions:
  unit-tests: any of: mockito-core/**, mockito-extensions/**
  integration-tests: any of: mockito-integration-tests/**
