Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Remove IntelliJ added import.
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
Due: none

Fix comment.
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
Due: none

Make code more readable.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Improve error message.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Add support for including module-info in Mockito. (#3597)
  buildSrc/src/main/kotlin/mockito.javadoc-conventions.gradle.kts
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/PluginInitializer.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/inject/package-info.java
  mockito-core/src/main/java/org/mockito/internal/util/reflection/InstrumentationMemberAccessor.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
  mockito-extensions/mockito-junit-jupiter/src/main/java/module-info.java
  mockito-integration-tests/module-named-tests/build.gradle.kts
  mockito-integration-tests/module-named-tests/src/test/java/module-info.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
  settings.gradle.kts
Due: unit-tests, integration-tests

Fixes 3605: Adjust inline mocking snippet to allow task relocatability
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Move Mock Access to dedicated package to thin out export.
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyCrossClassLoaderSerializationSupport.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodAdvice.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodInterceptor.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockAccess.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/package-info.java
  mockito-core/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsSmartNulls.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
Due: unit-tests, integration-tests

Add desired state to test to demonstrate solution.
  mockito-core/src/main/java/module-info.java
  mockito-integration-tests/module-named-tests/src/test/java/module-info.java
Due: unit-tests, integration-tests

Add concept of module opener.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleOpener.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Clean up comment.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Remove module opener.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleOpener.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Disable module handler for now.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Adjust module handler.
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassInjectionLoader.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassLoader.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidLoadingStrategy.java
  mockito-integration-tests/module-named-tests/src/test/java/module-info.java
Due: unit-tests, integration-tests

Remove injection base.
  mockito-core/src/main/java/org/mockito/codegen/InjectionBase.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Complete handler.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
Due: unit-tests

Remove internal references.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
Due: unit-tests

Remove impossisble branch.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Reintroduce injection base.
  mockito-core/src/main/java/org/mockito/codegen/InjectionBase.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
Due: unit-tests, integration-tests

Choose right strategy.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Improve error message and remove redundant test.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
Due: unit-tests, integration-tests

Clean up.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Move package to internal.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/codegen/InjectionBase.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/codegen/package-info.java
Due: unit-tests

Avoid internal package.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
Due: unit-tests

Add mock loader.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Remove import.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
Due: unit-tests

Add weak reference cache for class loaders.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
Due: unit-tests

Correct visibility for interceptor type.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyCrossClassLoaderSerializationSupport.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodAdvice.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockAccess.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockMethodInterceptor.java
Due: unit-tests

Adjust package structure to expose mock-included API fully through access package.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockMethodInterceptor.java
Due: unit-tests

Fix codestyle.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/access/MockMethodInterceptor.java
Due: unit-tests

Fix test.
  mockito-core/src/test/java/org/mockitousage/serialization/AcrossClassLoaderSerializationTest.java
Due: unit-tests

Fix other test.
  mockito-integration-tests/module-tests/src/test/java/org/mockito/moduletest/ModuleHandlingTest.java
Due: integration-tests

Remove weak map cache.
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ModuleHandler.java
Due: unit-tests

Add additional tests.
  mockito-integration-tests/module-named-tests/src/test/java/org/mockito/modulenamedtest/ModuleUseTest.java
Due: integration-tests

Remove Arrays.asList from critical stubbing path in GenericMetadataSupport
  mockito-core/src/main/java/org/mockito/internal/util/reflection/GenericMetadataSupport.java
Due: unit-tests

CR follow-up: Reference how to make the task relocatable instead of modifying the configuration snippet
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Add reference to Gradle documentation on how to make task relocatable (#3606)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Open premain method to JDK instrumentation engine.
  mockito-core/src/main/java/module-info.java
Due: unit-tests

Remove Arrays.asList from critical stubbing path in GenericMetadataSupport (#3610)
  mockito-core/src/main/java/org/mockito/internal/util/reflection/GenericMetadataSupport.java
Due: unit-tests

Reorder exports.
  mockito-core/src/main/java/module-info.java
Due: unit-tests

Path conditions:
  unit-tests: any of: mockito-core/**, mockito-extensions/**
  integration-tests: any of: mockito-integration-tests/**
